body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    background-color: #d6e2f0;
}
main{
    width: 350px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}
img{
    width: 100%;
    border-radius: 20px;
}
h3{
  text-align: center;
  font-size: 30px;
  color:  #1f3251;
}
p{
  text-align: center;
  font-size: 20px;
  color:#7b879d ;
}


/* 
White: #ffffff
Light blue: #d6e2f0
Grayish blue: #7b879d
Dark blue: #1f3251
*/